<div class="social-media-link-container">
  <div class="header">
    <h2>Social Media Links</h2>
    <div class="header-buttons">
      <button 
        class="edit-btn" 
        (click)="toggleEditMode()" 
        [disabled]="isLoading">
        {{ isEditMode ? 'Save Changes' : 'Edit Layout' }}
      </button>
      <button 
        class="create-link-btn" 
        (click)="toggleCreateForm()" 
        [disabled]="isLoading">
        {{ showCreateForm ? 'Cancel' : 'Add Link' }}
      </button>
    </div>
  </div>

  <form *ngIf="showCreateForm" [formGroup]="createForm" (ngSubmit)="createLink()" class="create-form">
    <div class="form-group">
      <label for="url">URL</label>
      <input 
        id="url"
        type="url" 
        formControlName="url"
        placeholder="Enter URL (e.g., https://twitter.com/...)"
      >
      <small *ngIf="createForm.get('url')?.invalid && createForm.get('url')?.touched">
        Please enter a valid URL starting with http:// or https://
      </small>
    </div>
    <button type="submit" [disabled]="!createForm.valid || isLoading">
      {{ isLoading ? 'Adding...' : 'Add Link' }}
    </button>
  </form>

  <div *ngIf="error" class="error">{{ error }}</div>

  <div *ngIf="isLoading" class="loading">Loading links...</div>

  <div *ngIf="!isLoading && links.length === 0" class="no-links">
    No social media links found. Add one to get started!
  </div>

  <div *ngIf="!isLoading && links.length > 0" class="links-list">
    <div *ngFor="let link of links" class="link-item">
      <div *ngIf="link.embedUrl" 
           [class]="'embed-container ' + getEmbedType(link.url) + (isEditMode ? ' edit-mode' : '')"
           [attr.data-link-id]="link.id"
           [style.width.px]="link.width"
           [style.height.px]="link.height"
           [style.top.px]="link.y || 0"
           [style.left.px]="link.x || 0">
        <div class="embed-header" *ngIf="isEditMode">
          <div class="drag-handle" (mousedown)="onDragStart($event, link)">
            ⋮⋮ Drag to move
          </div>
          <button 
            class="delete-btn" 
            (click)="deleteLink(link.id)"
            [disabled]="isLoading">
            Delete
          </button>
        </div>
        <div [class]="'embed-content' + (isEditMode ? ' edit-mode' : '')">
          <iframe
            [src]="link.embedUrl"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>
        </div>
      </div>
    </div>
  </div>
</div>
